<!-- homepage -->
<div class="container">
  <div class="profile">
    <img src="./assets/profile.png" alt="default user" />
    <h3>User Info:</h3>
    <form #form="ngForm" (ngSubmit)="edit(form)">
      <div class="flex">
        <p>Username:</p>
        <input
          type="text"
          name="username"
          id="username"
          [ngModel]="userService.user?.username"
          #inputUsername="ngModel"
          required
          minlength="5"
        />
      </div>
      <div class="flex">
        <p>Email:</p>
        <input
          type="email"
          name="email"
          id="email"
          [ngModel]="userService.user?.email"
          #inputEmail="ngModel"
          required
          appEmail
        />
      </div>
      <div class="flex">
        <p>Phone:</p>
        <div>
          <select name="select-tel" id="select-tel" class="tel">
            <option value="00359">+359</option>
          </select>
          <input
            type="text"
            name="tel"
            id="tel"
            value="{{ userService.user?.phone }}"
            [ngModel]="userService.user?.phone"
            #inputTel="ngModel"
          />
        </div>
      </div>
      <button class="red-button" type="button" routerLink="/profile">Cancel</button>
      <button class="green-button" type="submit" [disabled]="form.invalid">Save</button>
    </form>
  </div>
</div>
